#NavButton {
margin: 5px;
}

.navbar {
    width: 100%;
    background-image: url("../images/Background_blue_purple.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.cart-icon{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 1px white;
    border-radius: 20px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-img-top {
    max-width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
}

.image-container {
    height: 200px; /* Fixed height for the container */
    overflow: hidden; /* Hide overflow to maintain container size */
}

.image-container img {
    width: 100%; /* Set width to fill the container */
    height: auto; /* Allow image to adjust its height proportionally */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}
.badge
{
    margin-left: -47px;
    color: white;
    background-color: red;
    border-radius: 20px;
   
}

.footer {
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url("../images/Background_blue_purple.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    color: white; /* Text color */
  }

  .row1{
    /*This is so that the footer doesn't cover the content*/
    padding: 20px;
    margin-bottom: 20px;
  }

.displaytext
{
    margin-left: 30px;
    margin-right: 10px;
    border: 1px white;
    border-radius: 20px;
    background: white;
    color: darkgray;
}

/*Login and registration*/

.loginform {
    width: 300px;
    margin-left: 40%;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px;
}

.plusminus {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    margin: 0 5px; 
}

.block{
    background-image: url("../images/bluegradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white; /* Text color */
}

.block2{
    background-image: url("../images/bluegradient - Copy.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white; /* Text color */
}
.block3{
    background-image: url("../images/bluegradient\ -\ Copy\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white; /* Text color */
}

.circular-image {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    overflow: hidden;
    margin: auto; 
    border: 8px solid white;
    box-sizing: border-box;
  }

  .circular-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  .topgap{
    height: 20px;
    width: 100%;
    padding-bottom: 30px;
  }
  .gap{
    height: 20px;
    width: 100%;
    padding-bottom: 110px;
  }

  .divider{
    height: 20px;
    width: 100%;
    padding-bottom: 30px;
  }

  /*----------------------------Order card--------------------*/
  .order-card {
    background-color: #f3f3f3; /* Light grey background */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Drop shadow */
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0; /* Adjust margin as needed */
}

.order-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.order-card p {
    margin-bottom: 10px;
}

.order-card table {
    border-collapse: collapse;
    width: 100%;
}

.order-card th, .order-card td {
    border: 1px solid #ddd;
    padding: 8px;
}

.order-card th {
    background-color: #f1f1f1;
}